<div style="text-align:center">
    <h1 class="h1">
      Informações recebidas!!
    </h1>
    <img width="300" src="assets/sticky-note-pencil.jpg">
    <h3>
      Em até 48h daremos um retorno sobre a abertura de sua conta.
      <br><br>
      Para receber nossas recomendações de investimentos e começar a investir, precisamos conhecer seu perfil de investidor.
      <br><br>
      São apenas 4 perguntas que irão guiar todas as suas decisões de investimentos.
      <br><br><br><br>
      Gostaria de responder ao Perfil do investidor?
    </h3>
    <br>
    <div>
      <button class="btn btn-lg btn-primary" routerLink="/final">Sim</button>
      <button class="btn btn-lg btn-primary" (click)="openModal()">Não</button>
    </div>
  
</div>